/* Default margin and padding, set background image, size, position */
body {
  margin: 0;
  padding: 0;
  background-image: url('https://img.freepik.com/fotos-premium/community-diversity-accessibility-connection-diverse-values-accept_916191-53132.jpg?size=626&ext=jpg&ga=GA1.1.933601817.1696291200&semt=ais');
  background-size: cover;
  background-position: middle;
  background-repeat: no-repeat;
  font-family: 'Arial', sans-serif; /* fallback font */
  color: #120101; /* text color to contrast with the background */
}

/*main container */
.todo-app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4; /* Light gray background */
  border-radius: 16px;
}

/* the main heading */
h1 {
  color: #333;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

/* the form element */
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* input fields */
input {
  padding: 12px;
  font-size: 18px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* buttons */
button {
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* the 'complete' button */
button {
  background-color: #87bd89; 
  color: #fff;
  margin-right: 10px;
}

/* the 'delete' button */
button.delete {
  background-color: #e06c63; 
  color: #fff;
}

/* Styling for button hover(when the mouse is over the element) effect */
button:hover {
  opacity: 0.9;
}

/* Styling for unordered list */
ul {
  list-style: none;
  padding: 0;
}

/* Styling for list items */
li {
  background-color: #fff; /* White background for tasks */
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center; /* align items vertically in the center */
  flex-wrap: wrap; /* allow items to wrap to the next line */
}

/* Styling for completed tasks */
.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

/* span element inside list items */
li span {
  word-wrap: break-word;
  max-width: 100%;
  font-size: 16px;
  flex: 1; /* allow the span to grow and shrink */
}

/* Added a little box shadow for a subtle lift on list item hover */
li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
